html {
  --WHITE: #fafafa;
  --LIGHT-GREY: #f2f2f2;
  --DARK-GREY: #3b525d;
  --GREEN: #6DA5A5;
}

body {
  background: var(--LIGHT-GREY);
  color: var(--DARK-GREY);
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 4vh;
}

a {
  color: var(--GREEN);
  font-weight: 500;
}

p {
  line-height: 1.5;
}

.box {
  background: var(--WHITE);
  border-radius: 5px;
  margin: 3vh 3vw;
  padding: 2vh 2vw;
}

.box + .box {
  margin-left: 0; /* manual margin collapsing */
}

#box_player {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 87vh;
}

iframe {
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.form-component {
    margin-bottom: 8px;
    display: flex;
}

.form-component label {
    margin-bottom: 5px;
    display: block;
    align-self: center;
    margin: 0px 4px 0px 0px;
}

.form-component input {
    font-size: 1em;
    line-height: 1.2;
    padding: 3px;
    width: 100%;
    margin: 4px;
    border: 2px solid var(--DARK-GREY);
    border-radius: 3px;
}

.form-component select {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
    height: 2rem;
    padding: 5px;
    border: 2px solid var(--DARK-GREY);
    flex-grow: 1;
    margin: 4px;
}

form button {
    width: 100%;
    height: 40%;
    border: 2px solid var(--DARK-GREY);
    background-color: white;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 8px;
}

form {
    display: flex;
    margin-top: 20px;
}

fieldset {
    border: 2px solid var(--DARK-GREY);
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px 12px;
}

fieldset#controls {
    flex-grow: 1;
    margin-right: 20px;
}

fieldset#select {
    flex-grow: 4;
}

legend {
    font-family: 'futura', sans-serif;
    letter-spacing: 0.03em;
    padding: 0px 8px 4px 8px;
}

#messageLog {
    margin: 30px 0px 10px 0px;
    border: 2px solid var(--DARK-GREY);
    border-radius: 3px;
    padding: 13px;
}

#messageLogHeader {
    display: inline;
    font-size: 1.5em;
}

#messageLogBody {
    display: inline-block;
    vertical-align: bottom;
    padding: 0.25em;
}
